{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="span10 offset1">
    <h2>Schedule</h2>
    {% for i in range(0, n, 2) %}
    <div class="row">
    <div class="span5">
    <table class="table table-bordered table-condensed">
      <thead>
	<tr>
	  <th>Semester {{ keys[i] }}</th>
	</tr>
      </thead>
      <tbody>
      {% for course in schedule[keys[i]] %}
        <tr>
          <td>{{ course }}</td>
	</tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
    <div class="span5">
    <table class="table table-bordered table-condensed">
      <thead>
	<tr>
	  <th>Semester {{ keys[i+1] }}</th>
	</tr>
      </thead>
      <tbody>
      {% for course in schedule[keys[i+1]] %}
        <tr>
          <td>{{ course }}</td>
	</tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
