{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="span10 offset1">
    <h2>Schedule</h2>
    {% for key in keys %}
    <div class="span5">
    <table class="table table-bordered table-condensed">
      <thead>
	<tr>
	  <th>Year {{ key }}</th>
	</tr>
      </thead>
      <tbody>
      {% for course in schedule[key] %}
        <tr>
          <td>{{ course }}</td>
	</tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
